		<div id="side-menu">
			<span class="logo">
				<img src="/verbatim/PFP.png" style="height: 22%; margin: auto; display:block;">
			<button id="menu-button" onClick="showMenu()">Show Menu</button>
			<button id="close-button" onClick="hideMenu()">Close Menu</button>
			</span><br class="mt-break">
			<br class="mt-break">
			<u class="normalfont" id="subt1">My stuff</u>
			<a href="/index.html">About</a>
			<a href="../blog/index.html">Blog</a>
			<a href="../projects/index.html">Projects</a>
			<a href="../my-software/index.html">My software</a>
			<br>
			<!-- <u class="normalfont" id="subt2">Guides</u>
			<a href="../railbase/index.html"><span class="etudec-logo-font">rail</span><span class="etudec-logo-font-light">base</span></a>
			<a href="../liftbase/index.html"><span class="etudec-logo-font">lift</span><span class="etudec-logo-font-light">base</span></a>
			<a href="../python-guide/index.html">Learn Python</a> -->
			<br>
			<a href="#"><i>More</i></a>
				</div>
